<div class="footer">
    <a href="https://ricebucket.life">ricebucket.life</a>
    <br>BTC <strike>gambling</strike> trading donation: bc1q5crw7tckz3l78x24yujva4c6fhkt6dsnxu8vwn
    <br>Email: <a href="mailto: konri@ricebucket.life">konri@ricebucket.life</a>
</div>
