<div class="embed googlemaps">
    <iframe class="googlemaps"
            src="{{ index .Params 0 }}"
            width="400"
            height="300"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0">
    </iframe>
</div>
